.add-button {
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.add-button__container {
    transition: 0.3s;
}

.add-button__container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.add-button__plus {
    flex-basis: 100%;
    height: 2rem;
    opacity: 0.5;
}

.add-button__text {
    color: rgb(66, 66, 66);
    font-size: 0.8rem;
}