.add-form {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    max-width: 500px;
}

.add-form__title {
    color: rgb(26, 155, 230);
    margin-bottom: 1rem;
    text-decoration: underline;
}

.add-form__label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.3rem;
    flex-basis: 100%;
    color: grey;
    font-size: 0.8rem;
}

.add-form__input {
    padding: 0.4rem;
    margin-left: 0.3rem;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 0.8rem;
    box-shadow: rgb(179, 194, 207) 3px 3px 6px 0px inset, rgba(244, 244, 244, 0.5) -3px -3px 6px 1px inset;
    
}

.add-form__submit {
    margin-top: 1rem;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 15px;
    min-width: 3rem;
    background: rgb(6, 156, 249);
    color: white;
}

.add-form__submit:hover {
    cursor: pointer;
}