.category {
    flex-wrap: wrap;
    background-color: white;
    width: 7rem;
    height: 4.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.category__title {
    flex-basis: 100%;
    text-transform: uppercase;
    color: rgb(234, 190, 16);
    font-size: 0.8rem;
}

.category__text {
    font-size: 0.7rem;
    color: black;
}
