.list {
    margin: 0.5rem 0;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
}

.list__subdiv {
    flex-basis: 45%;
}

.list__subdiv__items {
    padding: 0.5rem;
    margin: 0.1rem 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(237, 237, 237);
}

.list__subdiv__items-itemname {
    color: orangered
}

.list__name {
    color: rgb(1, 1, 163);
}

.list__shop-name {
    color: rgb(13, 137, 233);
}