* {
  padding: 0;
  margin: 0;
}

.App {
  position: relative;
  text-align: center;
  background-color: #282c34;
  background: linear-gradient(90deg, rgb(16, 0, 57) 0%, rgb(58, 9, 121) 35%, rgb(1, 112, 134) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.left-card, .right-card {
  width: 530px;
  padding: 0.2rem;
  margin: 0.2rem;
  min-height: 200px;
  background-color: rgb(215, 214, 214, 0.5);
  flex-direction: column;
}

.right-card {
  background-color: transparent;
}

.trash-can {
  width: 1.2rem;
  height: 1.2rem;
}

.container {
  background-color: rgb(215, 214, 214, 0.5);
  margin: 0.3rem 0;
  flex-wrap: wrap;
  width: 100%;
  transition:all 0.5s linear;
}

.container__title {
  margin-left: 1rem;
  text-align: left;
  flex-basis: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo, .spinner {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  animation: center-animate 1s ease ;
}

.right {
  animation: right-animate 1s ease ;
}

